# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
out/
*.tsbuildinfo

# env
.env
.env.*
!.env.example

# logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# test
coverage/

# os / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# prisma
apps/api/prisma/*.db
